.section {
    display: flex;
    margin: 20px auto;
}

#wrap {
    margin: 50px auto 0px auto;
}

.sectionConfirm {
    display: flex;
    flex-wrap: wrap;
    width: 700px;
    margin: 50px auto;
    justify-content: space-around;
    border: 1px solid #E8E8E8;
    background-color: white;
}

.hr2 {
    width: 100%;
    height: 0px;
    margin: auto;
    border: 1px solid #E8E8E8;
}

.sectionHead {
    width: 900px;
}

.introduction {
    font-family: Noto Sans TC;
    font-size: 19px;
    font-weight: bold;
    line-height: 16px;
    color: #666666;
}

.sectionBox {
    width: 900px;
    margin: 0px auto;
}

.sectionBox_fee {
    width: 900px;
    margin: 0px auto 30px auto;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.tourSection {
    position: relative;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.tourPic {
    width: 260px;
    height: 200px;
    background-size: cover;
}

#deleteBtn {
    height: 30px;
    display: block;
}

.binIcon {
    width: 30px;
    height: 30px;
    background-image: url("/img/icon_delete.png");
    background-size: cover;
    cursor: pointer;
}

.tourInfo {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    width: 200px;
    flex: auto;
}

.tourInfoTitle1 {
    display: flex;
    font-family: Noto Sans TC;
    font-weight: bold;
    font-size: 16px;
    color: #448899;
    margin-bottom: 18px;
}

.tourInfoTitle2 {
    font-family: Noto Sans TC;
    font-weight: bold;
    font-size: 30px;
    color: #448899;
    margin-bottom: 18px;
}

.tourInfoTitle {
    display: flex;
    flex-direction: row;
    font-family: Noto Sans TC;
    font-weight: bold;
    font-size: 16px;
    color: #666666;
    margin-bottom: 12px;
}

.prevData {
    font-family: Noto Sans TC;
    font-size: 16px;
    font-weight: normal;
    color: #666666;
}

.inputTitle {
    font-family: Noto Sans TC;
    font-size: 16px;
    color: #666666;
    line-height: 40px;
}

.inputBox {
    width: 200px;
    height: 38px;
    background: #FFFFFF;
    border: 1px solid #E8E8E8;
    box-sizing: border-box;
    border-radius: 5px;
}

.ps {
    font-family: Noto Sans TC;
    font-weight: bold;
    font-size: 16px;
    color: #666666;
}

.confirmBtn {
    width: 173px;
    height: 36px;
    background: #448899;
    border-radius: 5px;
    font-family: Noto Sans TC;
    font-size: 19px;
    color: #FFFFFF;
    border: none;
}

#noData {
    font-family: Noto Sans TC;
    font-size: 16px;
    color: #666666;
}

.confirmTrip {
    width: 300px;
    margin: 10px;
}

#tickIcon {
    width: 200px;
    min-height: 200px;
    background-image: url("/img/icon_tick.png");
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px auto;
}

#tourPic {
    width: 340px;
    height: 200px;
    margin: 10px;
    background-size: cover;
}

#copyAction {
    font-size: 35px;
    margin-left: 10px;
    text-decoration: none;
    color: #448899;
}

@media (max-width:1199px) {
    .section {
        width: 80%;
    }
    .sectionBox {
        width: 100%
    }
}

@media (max-width:720px) {
    .section {
        width: 90%;
    }
    .sectionBox {
        width: 100%
    }
    .sectionConfirm {
        width: 100%
    }
}