
@import url(//fonts.googleapis.com/earlyaccess/notosanstc.css);

body {
    margin: 0;
    height: 100%;
}

nav {
    /* Navigation | Desktop */
    position: fixed;
    width: 100%;
    height: 54px;
    top: -5px;
    background: white;
    display: flex;
    align-items: center;
    z-index: 10;
}

.first {
    width: 1200px;
    height: 34px;
    display: flex;
    margin: 0px auto;

}


.header {
    /* 台北一日遊 */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 30px;
    flex: auto;
    margin-left: 10px;

    /* Cyan 800 */
    color: #448899;
}

.menu {
    /* Body - Reg 16(13.3) */
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    margin: 10px;
    color: #666666;
    flex: none;
    margin: 10px 10px;
}

hr {
    width: 100%;
    height: 54px;
    left: 0px;

    /* Gray 300 */
    border: 1px solid #E8E8E8;

}

.section {
    width: 1200px;
    min-height: 100%;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.album_box {
    display: flex;
    position: relative;
    
    left: 5px;
    top: 0px;
    margin-bottom: 10px;
    border-radius: 5px;
    overflow: hidden;
    margin: auto;

}


.album {
    display: flex;
    position: relative;
    width: 540px;
    height: 400px;
    flex: none;
    left:0;
}

.img {
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    flex: none;
    float:left;
}

.arrow {
    position: absolute;
    top: 180px;
    z-index: 2;
    width: 40px;
    height: 40px;
    font-size: 36px;
    font-weight: bold;
    background-repeat: no-repeat;

    cursor: pointer;
}


#prev {
    left: 20px;
}

#next {
    right: 20px;
}


.info {
    width: 600px;
    height: 400px;
    left: 585px;
    top: 0px;
    flex:none;
    display: flex;
    flex-direction: column;
}

.site {
    flex: none;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 70px;
    margin-bottom: 10px;
    left: 0px;
    top: 0px;
}

.attraction_name {
    flex: none;
    width: 100%;
    height: 33px;
    left: 0px;
    top: 0px;

    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;

    /* Gray 800 */
    color: #666666;
}

.place {
    flex: none;
    width: 100%;
    height: 22px;
    left: 0px;
    top: 48px;
    margin: 10px 0px;

    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;

    /* Gray 800 */
    color: #666666;
}

.schedule {
    flex: none;
    display: flex;
    flex-direction: column;
    width: 600px;
    height: 302px;
    padding: 20px;
    box-sizing: border-box;
    

    /* Gray 300 */
    background: #E8E8E8;
    border-radius: 5px;
    justify-content: space-around;
}

.schedule_title {
    /* position: relative;
    width: 100%;
    height: 22px;
    left: 20px; */

    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    /* flex: none; */

    /* Gray 800 */
    color: #666666;
}

.schedule_subtitle {
    /* position:relative;
    width: 100%;
    height: 24px;
    left: 20px; */
    

    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    /* flex: none; */

    /* Gray 800 */
    color: #666666;
}

.date {
    display: flex;
    flex-direction: row;
    position: relative;
    width: 560px;
    height: 22px;
    flex: none;
    align-items: center;
}

.schedule_date {
    width: 81px;
    height: 17px;
    left: 0px;
    top: 9px;


    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    flex: none;

    /* Gray 800 */
    color: #666666;
}

#calendar {
    width: 193px;
    height: 22px;
    left: 86px;
    top: 0px;
    padding: 5px;
    flex: none;

    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    
    color: #000000;
}

.time {
    display: flex;
    flex-direction: row;
    width: 560px;
    height: 22px;
    flex: none;
    position: relative;
    
}

.schedule_time {
    width: 81px;
    height: 22px;
    left: 0px;
    top: 0px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    align-items: center;
    align-content: center;
    
    flex: none;

    color: #666666;
}

.container {
    flex: none;
    width: 48px;
    height: 22px;
    margin: 0px 10px 0px 30px;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    text-align: center;


    /* Gray 800 */
    color: #666666;
}

/* Hide the browser's default radio button */
.time input {
    opacity: 0;
    cursor: cell;
  }

/* Create a custom radio button */
.checkmark {
    position: absolute;
    height: 22px;
    width: 22px;
    margin-left: -60px;
    margin-top: -22px;
    background-color: white;
    border-radius: 50%;
  }
  
  
  /* When the radio button is checked, add a white background */
  .time input:checked ~ .checkmark {
    background-color: white;
  }
  
  /* Create the indicator (the dot/circle - hidden when not checked) */
  .checkmark:after {
    content: "";
    display: none;
  } 
  
  /* Show the indicator (dot/circle) when checked */
  .time input:checked ~ .checkmark:after {
    display: block;
  }
  
  
  /* Style the indicator (dot/circle) */
  .time .checkmark:after {
      position: absolute;
      margin: 2px 2px;
      width: 18px;
      height:18px;
      border-radius: 50%;
      background: #448899;
  }

  .fee {
        position: relative;
        top: 0px;

        display: flex;
        flex:none;
        
        /* Gray 800 */
        color: #666666;
  }

  .total {
    left: 0px;
    top: 0px;
    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

    color: #666666;
  }

  .total_1 {
    left: 86px;
    top: 4px;
    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    
    color: #666666;
  }

  .total_2 {
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    
    flex: none;
    
    color: #666666;
  }



  button { 
    flex: none;
    position: relative;
    width: 154px;
    height: 36px;
    margin-bottom: 20px;

    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 19px;
    color: #FFFFFF;

    /* Cyan 800 */
    background: #448899;
    border-radius: 5px;
    border: none;
  }

  .hr2 {
    width: 1198px;
    height: 0px;
    margin: 20px auto;
    border: 1px solid #E8E8E8;
    flex: none;
  }

  .attraction_content {
      display: flex;
      flex-direction: column;
      width: 1200px;
      margin: auto;
  }

  #description_info {
      flex: none;
      margin-bottom: 20px;
  }

  .description {
    width: 1180px;
    left: 10px;
    top: 10px;
    margin: auto;
    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 23px;
    
    /* Gray 800 */
    
    color: #666666;
    
  }

  #location_info {
    display: flex;
    flex-direction: column;
    flex: none;
  }

  .location {
    width: 1180px;
    left: 10px;
    top: 126px;
    margin: auto;
    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    flex: none;
    
    /* Gray 800 */
    
    color: #666666;

  }

  .content_location {
    width: 1180px;
    left: 10px;
    margin: -2px auto;
    
    /* Content - Reg 16(Auto) */
    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    flex: none;
    
    
    /* Gray 800 */
    
    color: #666666;

  }
  
  #traffic_info {
    display: flex;
    flex-direction: column;
    flex: none;
    margin-bottom: 70px;
  }


  .traffic {
    width: 1180px;
    left: 10px;
    top: 202px;
    margin: 20px auto 5px auto;
    
    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    flex: none;

    
    display: flex;
    align-items: center;
    
    /* Gray 800 */
    color: #666666;
  }

  .content_traffic {
    width: 1180px;
    left: 10px;
    top: 234px;
    margin: auto;
    
    /* Content - Reg 16(Auto) */
    
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    flex: none;
    
    /* Gray 800 */
    
    color: #666666;
    
  }


  .footer {
    /* footer */
    display: flex;
    width: 100%;
    height: 104px;
    margin-top:20px;
    bottom:0px;
    align-items: center;
    justify-content: center;
    background: #757575;
    color: white;
    font-family: Noto Sans TC;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;

}

@media (max-width:800px) {

    .section {
        width: 90%;
    }

    .album_box {
        width: 340px;
        margin: auto;
    }

    .album {
        width: 340px;
    }

    .img {
        width: 340px;
    }


    .info {
        width: 340px;
        margin: auto;

    }

    .site {
        text-align: center;
    }
    
    .schedule {
        width: 340px;
        margin: auto;
    }

    .schedule_subtitle {
        margin-bottom: 10px;
    }

    .hr2 {
        width: 100%;
        margin-left: 5px
    }

    .attraction_content {
        width: 90%;
    }

    .description {
        width: 100%;
    }

    .content_traffic {
        width: 100%;
    }



}