{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/attraction.css')}}">

<link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A==" crossorigin="" />
<script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js" integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA==" crossorigin=""></script>
{% endblock %} {% block title %}台北一日遊 - 景點介紹{% endblock %} {% block wrap %}
<div id="wrapSection">
    <div id="bookingSection">
        <div id="album_box" class="album_box">
            <a href="javascript:;" id="prev" class="arrow" style="background-image:url('/img/btn_leftArrow.png')"></a>
            <a href="javascript:;" id="next" class="arrow" style="background-image:url('/img/btn_rightArrow.png')"></a>
            <div id="album" class="album"></div>
        </div>

        <div id="info" class="info">
            <div id="site" class="site">

            </div>
            <div class="schedule">
                <div class="schedule_title">訂購導覽行程</div>
                <div class="schedule_subtitle">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <div class="date">
                    <div class="schedule_date">選擇日期：</div>
                    <input type="date" id="calendar" name="calendar">
                </div>
                <div class="time">
                    <div class="schedule_time">選擇時間：</div>
                    <label class="container">
                        上半天<input type="radio" checked="checked" name="dayTime" value="morning"
                            onclick="handleClick(this.value);"><span class="checkmark"></span>
                    </label>
                    <label class="container">
                        下半天<input type="radio" name="dayTime" value="afternoon" onclick="handleClick(this.value);"><span
                            class="checkmark"></span>
                    </label>

                </div>
                <div class="fee">
                    <div class="total">導覽費用：</div>
                    <div id="total_1" class="total_1">新台幣 2000 元</div>
                    <div id="total_2" class="total_1">新台幣 2500 元</div>
                </div>
                <form action="/api/booking" id="bookingInfo" method="POST">
                    <button id="bookBtn" onclick="bookProcedure()">開始預定行程</button>
                </form>
                <p class="popupWord"><span id="notice"></span></p>
            </div>
        </div>


        <hr class="hr2">

    </div>

    <div id="attraction_content" class="attraction_content">
        <div id="description_info"></div>

        <div id="location_info">
            <div class="location">景點地址：</div>
        </div>

        <div id=traffic_info>
            <div class="traffic">交通方式：</div>
        </div>
    </div>

    <div id="mapid"></div>

</div>
{% endblock %} {% block script %}
<script src="{{url_for('static',filename='js/attraction.js')}}"></script>
<script src="{{url_for('static',filename='js/map.js')}}"></script>
{% endblock %}