<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" type="text/css" href="/attraction.css" />
    


</head>

<body>
    <nav>
        <div class="first">
            <div class="header"><a href="/">台北一日遊</a></div>
            <div class="menu">預定行程</div>
            <div class="menu">登入/註冊</div>
        </div>
    </nav>
    <hr> 
    <div class="wrap">
    <div id="section" class="section">
        <div id="album_box" class="album_box">
            <a href="javascript:;" id="prev" class="arrow" style="background-image:url('/img/btn_leftArrow.png')"></a>
            <a href="javascript:;" id="next" class="arrow" style="background-image:url('/img/btn_rightArrow.png')"></a>
            <div id="album" class="album"></div>
        </div>
        <div id="info" class="info">
            <div id="site" class="site">
                
            </div>
            <div class="schedule">
                <div class="schedule_title">訂購導覽行程</div>
                <div class="schedule_subtitle">以此景點為中心的一日行程，帶您探索城市角落故事</div>
                <div class="date">
                    <div class="schedule_date">選擇日期：</div>
                    <input type="date" id="calendar" name="calendar">
                </div>
                <div class="time">
                    <div class="schedule_time">選擇時間：</div>
                    <label class="container">
                        上半天<input type="radio" checked="checked" name="dayTime" value="1" onclick="handleClick(this.value);"><span class="checkmark"></span>
                    </label>
                    <label class="container">
                        下半天<input type="radio" name="dayTime" value="2" onclick="handleClick(this.value);"><span class="checkmark"></span>
                    </label>
                    
                </div>
                <div class="fee">
                    <div class="total">導覽費用：</div>
                    <div id="total_1" class="total_1">新台幣 2000 元</div>
                    <div id="total_2" class="total_2">新台幣 2500 元</div>
                </div>
                <button>開始預定行程</button>
            </div>
        </div>

        <hr class="hr2">

    </div>

    <div id="attraction_content" class="attraction_content">
        <div id="description_info"></div>

        <div id="location_info">
            <div class="location">景點地址：</div>
        </div>

        <div id=traffic_info>
        <div class="traffic">交通方式：</div>
        </div>
    </div>
</div>
    <div class="footer">
        COPYRIGHT © 2021 台北一日遊
    </div>

    


    <script src="/attraction.js"></script>

    

</body>