{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/booking.css')}}"> {% endblock %} {% block title %}台北一日遊 - 預定行程{% endblock %} {% block wrap %}
<div id=wrapSection>
    <div class="sectionHead">
        <p class="introduction">您好，{{session.memberName}}，待預訂的行程如下：</p>
    </div>

    <div id="main" style="display:none">
        <div class="sectionBox">
            <div class="tourSection">
                <div id="tourPic" class="tourPic"></div>
                <div class="tourInfo">
                    <div class="tourInfoTitle1">台北一日遊：
                        <div id="name"></div>
                    </div>
                    <div class="tourInfoTitle">日期：
                        <div id="date" class="prevData"></div>
                    </div>
                    <div class="tourInfoTitle">時間：
                        <div id="time" class="prevData"></div>
                    </div>
                    <div class="tourInfoTitle">費用：
                        <div id="fee" class="prevData"></div>
                    </div>
                    <div class="tourInfoTitle">地點：
                        <div id="place" class="prevData"></div>
                    </div>
                </div>
                <div class="binIcon">
                    <a id="deleteBtn" href="javascript:void(0)"></a>
                </div>
            </div>
        </div>
        <hr class="hr2">
        <form>
            <div class=sectionBox>
                <p class="introduction">您的聯絡資訊</p>
                <div class="inputTitle">
                    聯絡姓名：<input type="text" id="contactName" class="inputBox" name="contactName" value='{{session.memberName}}'><br> 連絡信箱：
                    <input type="email" id="contactEmail" class="inputBox" name="logEmail" value='{{session.memberEmail}}'><br> 手機號碼：
                    <input type="tel" id="contactNo" class="inputBox" name="contactNo"><br>
                </div>
                <p class="ps">請保持手機暢通，準時到達，導覽人員將用手機與您聯繫，務必留下正確的聯絡方式。</p>
            </div>

            <hr class="hr2">

            <div class=sectionBox>
                <p class="introduction">信用卡付款資訊</p>
                <div class="inputTitle">
                    <div class="sidebyside">
                        <div>卡片號碼：</div>
                        <div class="inputBox" id="card-number"></div>
                    </div>
                    <div class="sidebyside">
                        <div>過期時間：</div>
                        <div class="inputBox" id="card-expiration-date"></div>
                    </div>
                    <div class="sidebyside">
                        <div>驗證密碼：</div>
                        <div class="inputBox" id="card-ccv"></div>
                    </div>
                </div>
            </div>

            <hr class="hr2">

            <p class="popupWord"><span id="notComplete"></span></p>

            <div class="sectionBox_fee">
                <p class="ps">總價：<span id="ps"></span></p>
                <button type="submit" id="btnn" class="confirmBtn" onclick="onSubmit(event)">確認訂購並付款</button>
                <div id="processing" style="display: none">執行中...<i class="fa-li fa fa-spinner fa-spin"></i>
                </div>
            </div>
        </form>

    </div>

    <div id=noDataSection class="sectionBox" style="display: none">
        <div id="noData"></div>
    </div>
</div>

{% endblock %} {% block script %}
<script src="{{url_for('static',filename='js/booking.js')}}"></script>
<script src="https://js.tappaysdk.com/tpdirect/v5.7.0"></script>
<script src="{{url_for('static',filename='js/order.js')}}"></script>
{% endblock %}