{% extends "base.html" %} {% block css %}
<link rel="stylesheet" href="{{url_for('static',filename='css/thankyou.css')}}"> {% endblock %} {% block title %}台北一日遊 - 訂單完成{% endblock %} {% block wrap %}


<div id="tickIcon"></div>
<div class="section">
    <div class="sectionBox" style="text-align:center">
        <p class="introduction">您的訂單已完成付款</p>
        <div class="sidebyside" style="justify-content:center">
            <div class="tourInfoTitle2">訂單編號：</div>
            <div id="confirmId" class="tourInfoTitle2"></div>
            <a id="copyAction" href="javascript:void(0)"><i class="far fa-copy"></i></a>
        </div>
        <p class="popupWord">請拍照或儲存此訂單編號，以便日候查詢。</p>
    </div>
</div>
<div class=sectionConfirm>
    <div class="confirmTrip">
        <div class="tourInfoTitle">日期：
            <div id="date" class="prevData"></div>
        </div>
        <div class="tourInfoTitle">時間：
            <div id="time" class="prevData"></div>
        </div>
        <div class="tourInfoTitle">地點：
            <div id="place" class="prevData"></div>
        </div>
        <div class="tourInfoTitle">地址：
            <div id="address" class="prevData"></div>
        </div>
        <div class="tourInfoTitle">費用：
            <div id="fee" class="prevData"></div>
        </div>
    </div>
    <div id="tourPic"></div>
</div>
{% endblock %} {% block script %}
<script src="{{url_for('static',filename='js/thankyou.js')}}"></script>
{% endblock %}